<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Tracker</title>
    <!-- Google Font link -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
    <!-- Bootstrap library -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- FontAwesome library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

<body>
    <nav class="container-fluid flex-column align-items-start">
      <div class="py-2">
      <ul>
      {{#if logged_in}}
      <li><a href="/"><h3>Home</h3></a></li>
      <li><a href="/dashboard"><h3>Dashboard</h3></a></li>
      <li style="float:right"><a href="#" id="logout"><h3>Logout</h3></a></li>
      {{else}}
      <li><a href="/"><h3>Home</h3></a></li>
      <li><a href="/dashboard"><h3>Dashboard</h3></a></li>
      <li style="float:right"><a href="/login" id="login"><h3>Login</h3></a></li>
      {{/if}}
      </ul>
      </div>
      </nav>
    <main>
      <h1></h1>
      {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>
