<header id="header">
  <h1>Code-Craft-Chronicles Blog!!</h1>
<nav id="nav-bar">
  <ul>
    <li><a href="">Home</li>
    <li><a href="">Dashboard</li>
    <li><a href="">Login</li>
    <li><a href="">Sign Up</li>
  </ul>
</nav>
</header>